In [1]:
import numpy as np
import pandas as pd

In [3]:
dates = pd.date_range('20180101', periods=6)
df1 = pd.DataFrame(np.arange(24).reshape((6,4)), 
                  index=dates, columns=['A','B','C','D'])
df1

             A   B   C   D
2018-01-01   0   1   2   3
2018-01-02   4   5   6   7
2018-01-03   8   9  10  11
2018-01-04  12  13  14  15
2018-01-05  16  17  18  19
2018-01-06  20  21  22  23

In [4]:
#DataFrame的每一列都是一个Series
df1['A']

2018-01-01     0
2018-01-02     4
2018-01-03     8
2018-01-04    12
2018-01-05    16
2018-01-06    20
Freq: D, Name: A, dtype: int32

In [5]:
df1.A

2018-01-01     0
2018-01-02     4
2018-01-03     8
2018-01-04    12
2018-01-05    16
2018-01-06    20
Freq: D, Name: A, dtype: int32

In [6]:
#取0到1行
df1[0:2]

            A  B  C  D
2018-01-01  0  1  2  3
2018-01-02  4  5  6  7

In [8]:
#取指定索引行
df1['20180102':'20180104']

             A   B   C   D
2018-01-02   4   5   6   7
2018-01-03   8   9  10  11
2018-01-04  12  13  14  15

In [10]:
#通过标签选择数据
df1.loc['20180102']

A    4
B    5
C    6
D    7
Name: 2018-01-02 00:00:00, dtype: int32

In [12]:
df1.loc['20180102',['A','C']]

A    4
C    6
Name: 2018-01-02 00:00:00, dtype: int32

In [13]:
df1.loc[:,['A']]#“:”代表所有

             A
2018-01-01   0
2018-01-02   4
2018-01-03   8
2018-01-04  12
2018-01-05  16
2018-01-06  20

In [14]:
#通过位置选择数据
df1.iloc[2]

A     8
B     9
C    10
D    11
Name: 2018-01-03 00:00:00, dtype: int32

In [15]:
df1.iloc[1:3,2:4]

             C   D
2018-01-02   6   7
2018-01-03  10  11

In [16]:
df1.iloc[[1,2,4],[1,3]]

             B   D
2018-01-02   5   7
2018-01-03   9  11
2018-01-05  17  19

In [20]:
#混合标签位置
df1.ix[2:4,['A','C']]

F:\anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

             A   C
2018-01-03   8  10
2018-01-04  12  14

In [21]:
df1.A > 6

2018-01-01    False
2018-01-02    False
2018-01-03     True
2018-01-04     True
2018-01-05     True
2018-01-06     True
Freq: D, Name: A, dtype: bool

In [22]:
df1[df1.A > 6]

             A   B   C   D
2018-01-03   8   9  10  11
2018-01-04  12  13  14  15
2018-01-05  16  17  18  19
2018-01-06  20  21  22  23