In [1]:
import numpy as np
import pandas as pd

In [8]:
file = pd.read_csv('test.csv',encoding='gbk')
file

   地点        名字  状态
0  上海  zhangsan   1
1  北京      lisi   1
2  深圳    wangwu   1
3  上海     liliu   0
4  上海    wangba   0

In [9]:
file.iloc[2,0] = '南京'
file

   地点        名字  状态
0  上海  zhangsan   1
1  北京      lisi   1
2  南京    wangwu   1
3  上海     liliu   0
4  上海    wangba   0

In [10]:
file.to_json('test.json')